:host {
    --button--color: #fff;
    --button--background-color: var(--color-purple);
    --button--background-gradient: linear-gradient(to top left, var(--color-purple), var(--color-blue-purple));
}