:root {
  --color-white: #fefefe;
  --color-purple: #29203f;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}
