:root {
  --color-white: #fefefe;
  --color-purple: #29203f;
  --color-purple-dark: #130f1d;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-purple-dark);
  color: var(--color-white);
}

* {
  box-sizing: border-box;
}
