:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar, .board {
  height: 100%;
  padding: 10px;
}

.sidebar:not(:first-of-type), .board {
  border-left: 1px solid white;
}

.board {
  min-width: 50%;
}
